*{
    margin: 0;
    padding: 0;

}
body{
    display: flex;
    flex-direction: column;
    background-color: rgb(255, 255, 255);
}
/*Inico do primeiro bloco*/

#imagenInicial{
    height: 564px;
    width: 100%;
    background-image: url(..//img/Captura\ de\ tela\ de\ 2023-10-01\ 09-57-15.png);
    background-size: cover;
    padding-bottom: 2px;
}
#h1Inicio{
    font-size: 80px;
    text-align: center;
}
/*Fim do primeiro bloco*/
/**************************************************************************/
/* Inicio do segundo bloco*/
#bloco2{
    width: 100%;
    height: 100px;
    margin-top: 490px;
}
#bloco2 h1{
    padding-top: 20px;
    height: 40px;
    width: 100%;
    text-align: center;
}
#divImagensBloco2{
    display: flex;
    justify-content: space-around;
    height: 225px;
    width: 100%;
    padding-top: 20px;
    
}
#avaliacao{
    height: 190px;
    width: 270px;
    background-image: url(/img/Captura\ de\ tela\ de\ 2023-10-01\ 09-58-05.png);
    background-size: cover;
    
}
#comoPesquisar{
    
    height: 190px;
    width: 270px;
    background-image: url(/img/Captura\ de\ tela\ de\ 2023-10-01\ 09-58-18.png);
    background-size: cover;

    
}
#IntendaAInternet{
    height: 190px;
    width: 270px;;
    background-image: url(/img/Captura\ de\ tela\ de\ 2023-10-01\ 09-58-28.png);
    background-size: cover;
    
}
#pTextoBloco2{
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
}
#textoBloco21{
    text-align: center;
    margin-left: 30px;
    margin-right: 5px;
}
#textoBloco22{
    text-align: center;
    margin-left: 80px;
}
#textoBloco23{
    text-align: center;
    margin-left: 60px;

}
/*Fim do segundo bloco*/
/*******************************************************************/
/* Inicio do terceiro bloco*/
#kits{
    display: flex;
    justify-content: space-around;
    height: 110px;
    width: 100%;
}
#kitsImg1{
    height: 100px;
    width: 100px;
    background-image: url(/img/Captura\ de\ tela\ de\ 2023-10-01\ 09-58-51.png);
    background-size: cover;
}
#kitsImg2{
    height: 100px;
    width: 100px;
    background-image: url(/img/Captura\ de\ tela\ de\ 2023-10-01\ 09-59-11.png);
    background-size: cover;
}
#kitsImg3{
    height: 100px;
    width: 100px;
    background-image: url(/img/Captura\ de\ tela\ de\ 2023-10-01\ 09-59-18.png);
    background-size: cover;
}
#kitsTexto{
    width: 100%;
    height: 50PX;
    display: flex;
    justify-content: space-around;
    
}
#kitsTexto1{

}
#kitsTexto1 h1{
    margin-left: 50px;
}
#linksDiretos{
    height: 100px;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 10px;
    
    
}
#linksDiretos a{
    color: #000000;
    font-size: 25px;
    margin-top: 10px;
    text-align: center;
    text-decoration: none;
}
#kitsTexto2{
    display: flex;
    flex-direction: column;
}
#kitsTexto2 h1{
    text-align: center;
    margin-left: 180px;
    display: flex;
    flex-direction: column;
    justify-content: end;
}
#kitsTexto2 p{
    margin-left: 180px;
    display: flex;
    margin-top: 10px;
}
#kitsTexto2 h2{
    margin-top: 10px;
    display: flex;
    justify-content: center;
    margin-left: 180px;
    
}
#kitsTexto3{
    display: flex;
    justify-content: center;
}
#kitsTexto3 h1{
    margin-left: 300px;
    padding-right: 140px;
}

/*fim terceiro bloco*/
/******************************************************/
/*Inicio do quarto bloco*/
#textoBlocoQuatro{
    font-size: 60px;
    padding-top: 200px;
    margin-top: 200px;
    background-color: #efc56b;
    text-align: center;
}
#campoComFoto{
    margin-top: 0px;
    padding-top: 80px;
    height: 400px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #efc56b;
}
#primeiraFoto{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url(/img/alexseyFoto.jpg);
    background-size: cover;
}
#primeiraFoto h1{
    margin-top: 200px;
    width: 100px;
    margin-left: 50px;
}
#segundaFoto{
    border-radius: 50%;
    height: 200px;
    width: 200px;
    background-image: url(/img/alexseyFoto.jpg);
    background-size: cover;
}
#segundaFoto h1{
    margin-top: 200px;
    width: 100px;
    margin-left: 70px;

}
/*Fim do quarto bloco*/
/****************************************************/
/*  Inicio quinto bloco*/
#linkExternos{
    
    align-items: center;
    text-align: center;
    margin-top: 10px;
}
#linkExternosh1 h1{
    font-size: 80px;
}
#linkExternosImg{
    margin-top: 60px;
    height: 400px;
    display: flex;
    justify-content: space-evenly;
}
#linkExternosImg1{
    height: 110px;
    width: 130px;
    background-image: url(/img/alvo.png);
}
#linkExternosImg2{
    height: 110px;
    width: 130px;
    background-image: url(/img/agenda.png);
}
#linkExternosImg3{
    height: 110px;
    width: 130px;
    background-image: url(/img/foguete.png);
}
#linkExternosImg p{
    margin-top: 150px;
    text-align: center;
}
/*  FIm quinto bloco*/
/*********************************************/
/*Inicio do sexto bloco*/
#sextoBloco{
    display: flex;
    height: 600px;
    
}
#sextoBlocoDiv1{
    height: 500px;
    width: 50%;
}
#divFinal{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 15%;
}
#divFinal p{
    margin-top: -35px;
    margin-left: 15px;
}
#divFinal h2{
    padding: 10px;
    margin-top: 20px;
    margin-left: -110px;
}
#sextoBlocoDiv1{
    text-align: center;
}
#sextoBlocoDiv2{
    height: 600px;
    width: 50%;
    background-image: url(/img/fofoFinal.png);
    background-size: cover;
}